/* @import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header  */
#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
}

#header .header-left,
#header .header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 0.4rem; */
  vertical-align: center;
  flex-shrink: 0;
}

#header .header-left a {
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
}
#header .header-left a:first-child {
  margin: 0px 5px 0px 15px;
}

#header .header-right a {
  min-width: auto;
  padding: 5px;
  margin-left: 15px;
  white-space: nowrap;
  cursor: pointer;
}

#header .header-right a:nth-child(2) {
  margin-right: 15px;
}
#header .header-right a:nth-last-child(1) {
  margin-right: 8px;
}

#btn-login {
  color: #fff !important;
  background-color: #1a73e8;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 96px;
  text-align: center;
  padding: 9px 23px;
  height: 36px;
}
#btn-login:hover {
  background-color: #2164bd;
  text-decoration: none !important;
}

#header a:hover {
  text-decoration: underline;
}

#btn-apps:hover {
  /* border: 0px solid transparent; */
  text-decoration: none !important;
  background-color: #ddd;
  border-radius: 50%;
}

#main {
  position: relative;
  top: 120px;
  height: 100%;
  width: 100%;
}
/* logo section */
#sec-logo {
  width: 100%;
  height: 100%;
}

#sec-logo img {
  display: block;
  width: 30rem;
  height: 100%;
  text-align: center;
  margin: auto;
}

/* search section */
#sec-search {
  width: 100%;
  height: 6vh;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#sec-search .search-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
  width: 35rem;
  height: 100%;
  position: absolute;
}

#sec-search .search-bar input {
  /* width: 60%; */
  width: 35rem;
  flex: 1;
  border-radius: 20px;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  position: absolute;
}

#sec-search .search-bar #icon-search {
  font-size: 1.4rem;
  z-index: 10;
  position: absolute;
  left: 1rem;
  color: #5f6368;
}

#search-input {
  padding: 0 4rem;
  outline: none;
  resize: none;
  position: absolute;
  outline: none;
  width: 45%;
  height: 20%;
  vertical-align: center;
}

#sec-search .search-bar .search-icons {
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  text-align: center;
  background: transparent;
}

#sec-search .search-bar .search-icons svg {
  width: 2rem;
  cursor: pointer;
}

/* #sec-search .search-bar .search-icons svg {
  background: linear-gradient(to right, #451aef, #ca2e03);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.8rem;
} */
/* #sec-search .search-bar .search-icons span.mic {
  background-clip: text;
  color: transparent;
} */

/* footer */
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: table-column;
  background-color: #f1f6f9;
}

#footer .footer-top,
#footer .footer-bottom {
  padding: 6px;
}

#footer .footer-bottom {
  border-top: 1px solid #dadce0;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

#footer a {
  font-weight: 500;
  margin: 0 4px;
  text-decoration: none;
  color: #333;
}

#footer a:hover {
  text-decoration: underline;
}
